:root {
    --tabsBorder: 2px solid rgb(180, 180, 180);
    --tableBorder: 2px solid rgb(217, 217, 217);
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.gray-text {
    color: rgb(115, 115, 115);
}

/* processes tab */
#top-tabs {
    display: flex;
}
#top-tabs div {
    padding: 4px;
    margin-right: 6px;
    cursor: pointer;
}

#tabs {
    display: flex;
    width: max-content;
}
#tabs div {
    background-color: rgb(235, 235, 235);
    padding: 4px;
    border-left: var(--tabsBorder);
    border-top: var(--tabsBorder);
    border-bottom: var(--tabsBorder);
    cursor: pointer;
}

table {
    width: max-content;
    border-collapse: collapse;
}

.column-labels {
    text-align: left;
}
.column-labels div {
    color: rgb(20, 20, 20);
    font-size: 15px;
    height: 20px;
}
.column-labels span {
    color: rgb(130, 130, 130);
}
.column-labels th {
    border-bottom: var(--tableBorder);
    border-right: var(--tableBorder);
    padding: 4px;
    padding-top: 6px;
    text-align: right;
    min-width: 60px;
}


.rows svg {
    margin-right: 3px;
}
.rows img {
    display: inline-block;
    height: 16px;
    margin-right: 6px;
    transform: translate(0px, 3px);
}
.rows td {
    border-right: 2px solid transparent;
    padding: 4px;
    text-align: right;
}

/* performance tab */
.performance-sidebar-item {
    border: 2px solid transparent;
    display: flex;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
}
.performance-sidebar-item:hover {
    background-color: rgb(240, 240, 240);
    border: var(--tableBorder);
}
.performance-sidebar-item canvas {
    background: white;
}
.sidebar-canvas-wrapper {
    margin-right: 10px;
}

.sidebar-item-label {
    font-size: 15px;
    display: block;
    margin-bottom: 2px;
}

#perf-pg-title {
    font-size: 24px;
}

#perf-pg-hardware-name {
    transform: translate(0px, 6px); font-size: 16px;
}

#perf-pg-canvas-container {
    margin-top: 4px;
}